<h2>Rest password </h2>

<div>  
    <p style="font-family: FreeMono, monospace;">
    <h4> Dear <%= user.firstName;%> <%= user.lastName;%> ! </h4>
    
        Someone, hopefully you, has requested to reset the password for your account.<br/><br/>
        Verification Code: <b> <%= user.resetPasswordToken; %> </b><br/><br/>
        <b>NB: </b>This password reset code will expire in One day.<br/>
        If you did not perform this request, you can safely ignore this email.
        
    </p>
</div>

  